// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Color
$theme-colors: (
  "green-100":  $green-100,
  "green-200":  $green-200,
  "green-300":  $green-300,
  "green-400":  $green-400,
  "green-500":  $green-500,
  "green-600":  $green-600,
  "green-700":  $green-700,
  "green-800":  $green-800
);
